.statement-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}

.statement-container-editborders {
  border: 2px solid #bfc8d3;
}

.statement-container .statement-datas {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.statement-datas h3,
.account-status {
  font-size: 1rem;
  font-weight: normal;
}

.statement-datas .account-balance {
  font-size: 2.5rem;
  font-weight: bold;
}

.statement-container button {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1.5rem;
  color: #fff;
}

.statement-container .green-btn {
  border-color: var(--button-green);
  background-color: var(--button-green);
}

.statement-container .purple-btn {
  border: 1px solid #5256ec;
  background-color: #5256ec;
  border-radius: 5px;
  font-weight: 400;
  height: 48px;
}

.statement-container .green-btn:hover {
  background-color: var(--button-green-active);
  border: 1px solid var(--button-green-active);
}

.statement-container .purple-btn:hover {
  background-color: #666aee;
  border: 1px solid #666aee;
}
