header {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
}

figure img {
  width: 200px;
}

nav {
  margin-right: 12px;
}

nav .signIn {
  display: flex;
  column-gap: 8px;
  font-weight: 600;
}
